<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teams Lab</title>
  </head>
  <body>
    <h1><%= @info[:name] %></h1>
    <h1>Team Motto: <%= @info[:motto] %></h1>
  </br>
    <h1>Hero Name: <%= @member[0][:name] %></h1>
    <p>Hero Power: <%= @member[0][:power] %></p>
    <p>Hero Biography: <%= @member[0][:bio] %></p>
  </br>
    <h1>Hero Name: <%= @member[1][:name] %></h1>
    <p>Hero Power: <%= @member[1][:power] %></p>
    <p>Hero Biography: <%= @member[1][:bio] %></p>
  </br>
    <h1>Hero Name: <%= @member[2][:name] %></h1>
    <p>Hero Power: <%= @member[2][:power] %></p>
    <p>Hero Biography: <%= @member[2][:bio] %></p>
  </body>
</html>
